body {
	position: relative;
	padding: 0;
	opacity: 100;
	background-color: BLACK;
	background: url(background.png);
    background-repeat: no-repeat;
	background-size: cover;
}

.holidayspin img{
	margin-left: 50vw;
	margin-top: 1%;
}
.vipspin img{
	margin-left: 26vw;
	margin-top: 40%;
}
.premiumspin img{
	margin-left: 2vw;
	margin-top: -55%;
}
