body {
	background: url(../background.png);
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form__field {
	padding-left: 10vw;
	font-weight: BOLD;
	background-color: inherit;
	color: white;
	font: 2rem "PT Sans", sans-serif;
	outline: 0;
	border: 0;
    line-height: 22.5vh;
}
#spinBTN {
	position: absolute;
	z-index: 3;
	width: 20vh;
	left: 31.5%;
	top: 33%;
}
#interact2 {
	margin: 0 auto;
	height: 20vh;
	background-origin: content-box;
	background: url(../textbox.png) no-repeat;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}