* {
	overflow: hidden;
}
body {
	background-color: BLACK;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
a:hover {
	color: #7f8ff4;
}
.btn {
	display: inline-block;
	color: inherit;
	font: 2rem "PT Sans", sans-serif;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
	margin-left: -96px;
	background: WHITE;
	color: BLACK;
	font-weight: BOLD;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	padding: 12px 36px;
}
.btn--primary:active {
	background: #7f8ff4;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--primary:hover {
	background: #6c7ff2;
}
#congratz, #reward_content {
	text-align: center;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet) !important;
    background-size: 50% auto !important;
    color: #000 !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-animation: shine 5s linear infinite !important;
    animation: shine 5s linear infinite !important;
}
.form__field {
	margin:auto;
	border-width: 5px;
	width: 70%;
	font-weight: BOLD;
	background: BLACK;
	color: WHITE;
	border-color: WHITE;
	font: 2rem "PT Sans", sans-serif;
	outline: 0;
	padding: 22px 18px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding-top: 2.5vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
@media screen and (orientation: landscape) {
	.modal-content {
		width: 60vw;
	}
	.modal-content p {
		font-size: 2.5vw;
	}
	.modal-content h1 {
		font-size: 8vw;
	}
}
@media screen and (orientation: portrait) {
	.modal-content {
    	width: 90vw;
	}
	.modal-content p {
		font-size: 5vw;
	}
	.modal-content h1 {
		font-size: 10vw;
	}
}
.modal-content {
	border-radius: 50px;
    height:95vh;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
}
.modal-content p {
	text-align: center;
	padding: 0 5vw 0 5vw;
}
.show-all {
	display: none;
}