.spinAround {
	-webkit-animation: spin 15s;
	-moz-animation: spin 15s;
	-o-animation: spin 15s;
	animation: spin 15s;
	-webkit-animation-timing-function: cubic-bezier(.22, 1.12, .35, .99);
	-moz-animation-timing-function: cubic-bezier(.22, 1.12, .35, .99);
	-o-animation-timing-function: cubic-bezier(.22, 1.12, .35, .99);
	animation-timing-function: cubic-bezier(.22, 1.12, .35, .99);
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
	-o-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}