.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -112px -326.6666666667px #ff2600, 27px -42.6666666667px #ffdd00, -40px -204.6666666667px #0048ff, -192px -221.6666666667px #00eeff, -24px -52.6666666667px #ff5900, 63px 47.3333333333px #ff009d, -194px 82.3333333333px #00ff15, 188px -101.6666666667px #ff4800, 16px -173.6666666667px #2600ff, -173px -293.6666666667px #73ff00, -141px -339.6666666667px #4dff00, -181px 62.3333333333px #9500ff, -90px -38.6666666667px #0044ff, 179px -67.6666666667px #00ff77, 106px -152.6666666667px #00d0ff, -37px -53.6666666667px #ff2600, -61px 13.3333333333px #40ff00, 187px -78.6666666667px #ff0033, 66px -173.6666666667px #0084ff, 104px -263.6666666667px #00ff99, 149px -156.6666666667px #00ffdd, 102px -354.6666666667px #00ff55, 211px -180.6666666667px #d9ff00, -8px -305.6666666667px #002fff, 215px -139.6666666667px #ff0d00, -230px -157.6666666667px #99ff00, -114px -2.6666666667px #ff8000, 12px -338.6666666667px #00ff1e, -72px -190.6666666667px #0080ff, -198px -147.6666666667px red, 243px 4.3333333333px #0080ff, 164px 78.3333333333px #001aff, 221px -413.6666666667px #ff000d, -42px 37.3333333333px #00aeff, -120px -56.6666666667px #002fff, -46px -12.6666666667px #00ff73, 57px -241.6666666667px #0077ff, -204px -135.6666666667px #00ffe1, -25px 0.3333333333px #26ff00, 18px -274.6666666667px #00ffb7, 232px -285.6666666667px #ccff00, -14px -36.6666666667px #004dff, -171px -286.6666666667px #ff4800, -247px -376.6666666667px #ddff00, -122px -115.6666666667px #1500ff, -212px -89.6666666667px #ff002f, 40px -68.6666666667px #73ff00, -137px -54.6666666667px #99ff00, 230px -45.6666666667px #ea00ff, 233px -303.6666666667px #37ff00, -244px -377.6666666667px #00fffb;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -112px -326.6666666667px #ff2600, 27px -42.6666666667px #ffdd00, -40px -204.6666666667px #0048ff, -192px -221.6666666667px #00eeff, -24px -52.6666666667px #ff5900, 63px 47.3333333333px #ff009d, -194px 82.3333333333px #00ff15, 188px -101.6666666667px #ff4800, 16px -173.6666666667px #2600ff, -173px -293.6666666667px #73ff00, -141px -339.6666666667px #4dff00, -181px 62.3333333333px #9500ff, -90px -38.6666666667px #0044ff, 179px -67.6666666667px #00ff77, 106px -152.6666666667px #00d0ff, -37px -53.6666666667px #ff2600, -61px 13.3333333333px #40ff00, 187px -78.6666666667px #ff0033, 66px -173.6666666667px #0084ff, 104px -263.6666666667px #00ff99, 149px -156.6666666667px #00ffdd, 102px -354.6666666667px #00ff55, 211px -180.6666666667px #d9ff00, -8px -305.6666666667px #002fff, 215px -139.6666666667px #ff0d00, -230px -157.6666666667px #99ff00, -114px -2.6666666667px #ff8000, 12px -338.6666666667px #00ff1e, -72px -190.6666666667px #0080ff, -198px -147.6666666667px red, 243px 4.3333333333px #0080ff, 164px 78.3333333333px #001aff, 221px -413.6666666667px #ff000d, -42px 37.3333333333px #00aeff, -120px -56.6666666667px #002fff, -46px -12.6666666667px #00ff73, 57px -241.6666666667px #0077ff, -204px -135.6666666667px #00ffe1, -25px 0.3333333333px #26ff00, 18px -274.6666666667px #00ffb7, 232px -285.6666666667px #ccff00, -14px -36.6666666667px #004dff, -171px -286.6666666667px #ff4800, -247px -376.6666666667px #ddff00, -122px -115.6666666667px #1500ff, -212px -89.6666666667px #ff002f, 40px -68.6666666667px #73ff00, -137px -54.6666666667px #99ff00, 230px -45.6666666667px #ea00ff, 233px -303.6666666667px #37ff00, -244px -377.6666666667px #00fffb;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -112px -326.6666666667px #ff2600, 27px -42.6666666667px #ffdd00, -40px -204.6666666667px #0048ff, -192px -221.6666666667px #00eeff, -24px -52.6666666667px #ff5900, 63px 47.3333333333px #ff009d, -194px 82.3333333333px #00ff15, 188px -101.6666666667px #ff4800, 16px -173.6666666667px #2600ff, -173px -293.6666666667px #73ff00, -141px -339.6666666667px #4dff00, -181px 62.3333333333px #9500ff, -90px -38.6666666667px #0044ff, 179px -67.6666666667px #00ff77, 106px -152.6666666667px #00d0ff, -37px -53.6666666667px #ff2600, -61px 13.3333333333px #40ff00, 187px -78.6666666667px #ff0033, 66px -173.6666666667px #0084ff, 104px -263.6666666667px #00ff99, 149px -156.6666666667px #00ffdd, 102px -354.6666666667px #00ff55, 211px -180.6666666667px #d9ff00, -8px -305.6666666667px #002fff, 215px -139.6666666667px #ff0d00, -230px -157.6666666667px #99ff00, -114px -2.6666666667px #ff8000, 12px -338.6666666667px #00ff1e, -72px -190.6666666667px #0080ff, -198px -147.6666666667px red, 243px 4.3333333333px #0080ff, 164px 78.3333333333px #001aff, 221px -413.6666666667px #ff000d, -42px 37.3333333333px #00aeff, -120px -56.6666666667px #002fff, -46px -12.6666666667px #00ff73, 57px -241.6666666667px #0077ff, -204px -135.6666666667px #00ffe1, -25px 0.3333333333px #26ff00, 18px -274.6666666667px #00ffb7, 232px -285.6666666667px #ccff00, -14px -36.6666666667px #004dff, -171px -286.6666666667px #ff4800, -247px -376.6666666667px #ddff00, -122px -115.6666666667px #1500ff, -212px -89.6666666667px #ff002f, 40px -68.6666666667px #73ff00, -137px -54.6666666667px #99ff00, 230px -45.6666666667px #ea00ff, 233px -303.6666666667px #37ff00, -244px -377.6666666667px #00fffb;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -112px -326.6666666667px #ff2600, 27px -42.6666666667px #ffdd00, -40px -204.6666666667px #0048ff, -192px -221.6666666667px #00eeff, -24px -52.6666666667px #ff5900, 63px 47.3333333333px #ff009d, -194px 82.3333333333px #00ff15, 188px -101.6666666667px #ff4800, 16px -173.6666666667px #2600ff, -173px -293.6666666667px #73ff00, -141px -339.6666666667px #4dff00, -181px 62.3333333333px #9500ff, -90px -38.6666666667px #0044ff, 179px -67.6666666667px #00ff77, 106px -152.6666666667px #00d0ff, -37px -53.6666666667px #ff2600, -61px 13.3333333333px #40ff00, 187px -78.6666666667px #ff0033, 66px -173.6666666667px #0084ff, 104px -263.6666666667px #00ff99, 149px -156.6666666667px #00ffdd, 102px -354.6666666667px #00ff55, 211px -180.6666666667px #d9ff00, -8px -305.6666666667px #002fff, 215px -139.6666666667px #ff0d00, -230px -157.6666666667px #99ff00, -114px -2.6666666667px #ff8000, 12px -338.6666666667px #00ff1e, -72px -190.6666666667px #0080ff, -198px -147.6666666667px red, 243px 4.3333333333px #0080ff, 164px 78.3333333333px #001aff, 221px -413.6666666667px #ff000d, -42px 37.3333333333px #00aeff, -120px -56.6666666667px #002fff, -46px -12.6666666667px #00ff73, 57px -241.6666666667px #0077ff, -204px -135.6666666667px #00ffe1, -25px 0.3333333333px #26ff00, 18px -274.6666666667px #00ffb7, 232px -285.6666666667px #ccff00, -14px -36.6666666667px #004dff, -171px -286.6666666667px #ff4800, -247px -376.6666666667px #ddff00, -122px -115.6666666667px #1500ff, -212px -89.6666666667px #ff002f, 40px -68.6666666667px #73ff00, -137px -54.6666666667px #99ff00, 230px -45.6666666667px #ea00ff, 233px -303.6666666667px #37ff00, -244px -377.6666666667px #00fffb;
  }
}
@keyframes bang {
  to {
    box-shadow: -112px -326.6666666667px #ff2600, 27px -42.6666666667px #ffdd00, -40px -204.6666666667px #0048ff, -192px -221.6666666667px #00eeff, -24px -52.6666666667px #ff5900, 63px 47.3333333333px #ff009d, -194px 82.3333333333px #00ff15, 188px -101.6666666667px #ff4800, 16px -173.6666666667px #2600ff, -173px -293.6666666667px #73ff00, -141px -339.6666666667px #4dff00, -181px 62.3333333333px #9500ff, -90px -38.6666666667px #0044ff, 179px -67.6666666667px #00ff77, 106px -152.6666666667px #00d0ff, -37px -53.6666666667px #ff2600, -61px 13.3333333333px #40ff00, 187px -78.6666666667px #ff0033, 66px -173.6666666667px #0084ff, 104px -263.6666666667px #00ff99, 149px -156.6666666667px #00ffdd, 102px -354.6666666667px #00ff55, 211px -180.6666666667px #d9ff00, -8px -305.6666666667px #002fff, 215px -139.6666666667px #ff0d00, -230px -157.6666666667px #99ff00, -114px -2.6666666667px #ff8000, 12px -338.6666666667px #00ff1e, -72px -190.6666666667px #0080ff, -198px -147.6666666667px red, 243px 4.3333333333px #0080ff, 164px 78.3333333333px #001aff, 221px -413.6666666667px #ff000d, -42px 37.3333333333px #00aeff, -120px -56.6666666667px #002fff, -46px -12.6666666667px #00ff73, 57px -241.6666666667px #0077ff, -204px -135.6666666667px #00ffe1, -25px 0.3333333333px #26ff00, 18px -274.6666666667px #00ffb7, 232px -285.6666666667px #ccff00, -14px -36.6666666667px #004dff, -171px -286.6666666667px #ff4800, -247px -376.6666666667px #ddff00, -122px -115.6666666667px #1500ff, -212px -89.6666666667px #ff002f, 40px -68.6666666667px #73ff00, -137px -54.6666666667px #99ff00, 230px -45.6666666667px #ea00ff, 233px -303.6666666667px #37ff00, -244px -377.6666666667px #00fffb;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
