* {
	overflow: hidden;
}
body {
	background-color: BLACK;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}
a:hover {
	color: #7f8ff4;
}
#congratz, #reward_content {
	text-align: center;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet) !important;
    background-size: 50% auto !important;
    color: #000 !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-animation: shine 5s linear infinite !important;
    animation: shine 5s linear infinite !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding-top: 2.5vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
@media screen and (orientation: landscape) {
	.modal-content {
		width: 60vw;
	}
	.modal-content p {
		font-size: 2.5vw;
	}
	.modal-content h1 {
		font-size: 8vw;
	}
}
@media screen and (orientation: portrait) {
	.modal-content {
    	width: 90vw;
	}
	.modal-content p {
		font-size: 5vw;
	}
	.modal-content h1 {
		font-size: 10vw;
	}
}
.modal-content {
	border-radius: 50px;
    height:95vh;
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
}
.modal-content p {
	text-align: center;
	padding: 0 5vw 0 5vw;
}
.show-all {
	display: none;
}