#spinner {
	position: relative;
	margin: 1em auto 0;
	min-width: 368.5px;
	width: 100%;
	max-width: 55vh;
}
#spin {
	z-index: -1;
	position: absolute;
	top: 16.5%;
	left: 9.5%;
	width: 80%;
}
#spinBG {
	z-index: 1;
	width: 100%;
}
#reward_content {
	font-size: 10vw;
}